*{
  font-family: Verdana, sans-serif;

}

h1 {
  color: #495e7d;
  line-height:50px;
  font-size: 290%;
}

h2{
  color: #889CB6; 
  font-size: 160%;
}

h3 {
  color: #94ABC8;
  font-size: 130%;
}

h4{
font-size: 118%;
color: #9fb4ce;
}

body{
  font-family: Verdana, sans-serif;
  color: #1D181E;
  background-color: #F1F3F3;
}

p, li {font-size: 95%;}

a {color: #94ABC8;}


.logo{
    float: left;
    color: black;
    scale: 20%;
    padding:0px; 
}

/* Add a backgroumd colour to the nav */
.nav{
    overflow: hidden;
    position: sticky;
    background-color: #94ABC8;
    text-align: center;
}

/* add styles of the elements that is inside of the nav */
.nav a{
    display: inline-block;
    color: #F1F3F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 95%;
}

/* change colour of element when hovering over it */
.nav a:hover {
    background-color: #9fb4ce
;
}

/* attach separate color to the active element */
.nav a.active {
    background-color: #889CB6; 
    color: #F1F3F3;
}

.icon{
  display:inline-block;
  text-align: center;
  border-radius: 50px;
  color: #f9f9f9;
  font-size: 14px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  font-weight: bold;
  right:0px;
  
}

.catNav{
  overflow: hidden;
  background-color: aliceblue;
  text-align: center;
}

.catNav a{
  font-size: 17px;
  padding: 14px 16px;
  float: left;
  display: block;
  text-decoration: none;
  text-align: right;
}

.catNav .icon{
  display: none;
}

.dropdown {
  display: inline-block;
  overflow: hidden;
}

.dropdown .dropdown-btn{
  font-size: 17px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  display: flex;
}

.dropdown-content{
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.catNav a:hover, .dropdown:hover .dropdown-btn {
  background-color:#889CB6;
  color: white;
}

.dropdown-content a:hover{
  background-color:#889CB6;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  /* Some media queries for responsiveness *
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
/* Main content */

.categories-header{
  color: #495e7d;
  font-size: 160%;
}

.main {
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
  
/*Product Category*/
.product-categories {
    /* justify-content: center; */
    display:grid;
    background-color: beige;

    grid-template-columns: auto auto auto auto;
}
.item {
  text-align: center;
  border: 2px solid greenyellow;
  margin: 8px;
  padding: 10px;
  background-color: aliceblue;
}

.addCart-btn{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  color: #F1F3F3;
  background-color: #889CB6;
  border-radius: 10px;
  border-color: #9fb4ce;
}

.addCart-btn:hover{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  background-color:#495e7d;
  color: white;
  border-radius: 10px;
  border-color: #495e7d;
}

.addCart-btn:disabled{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  color: grey;
  background-color: lightgray;
  border-radius: 10px;
  border-color: grey;
}

form{
    display: flex;
    justify-content: center;
    padding: 10px;
}

form input {
  height: 30px;
  width: 100%;
  border-radius: 25px;
  border-color: #9fb4ce;
  padding: 0 20px;
  border-radius: 10px 0px 0px 10px;
}

form button {
  width: 50px;
  color: white;
  background-color: #889CB6;
  border-color: #9fb4ce;
  border-radius: 0px 10px 10px 0px;
}

.shopping-btn{
  position: fixed;
  width: 60px;
  height: 60px;
  color: #F1F3F3;
  background-color: #889CB6;
  border-radius: 50px;
  border-color: #9fb4ce;
  padding: 10px;
  bottom:40px;
	right:40px;
  box-shadow: 2px 2px 3px #999;
}


/* -----------------------table------------------------------------------------------------ */
table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

th {
  color: #F1F3F3;
  border: 1px solid #495e7d;
  padding: 20px;
  background-color: #889CB6; 
}

td{
  padding: 15px;
position: relative;
padding-right: 70px;
}


/* makes table design to be flexible --> creating a more responsive layout structure depending on the viewport size (by being a flexbox) */
.flex-container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* every odd elements row in the table has a background colour */
tr:nth-child(odd) {
  background-color: #C8D4E1;
}

/* -----------------------CheckOut------------------------------------------------------------ */
.removeItem-btn{
  color: #495e7d;
  text-decoration: underline;
  border-style: hidden;
}

.clearAllCart-btn{
  color: red;
  border-radius: 5px;
  border-color: red;
}
.clearAllCart-btn:hover{
  color: #F1F3F3;
  background-color: red;
  border-radius: 5px;
  border-color: red;
}

.checkOut-btn{
  color: #F1F3F3;
  background-color: #889CB6;
  border-radius: 5px;
  border-color: #9fb4ce;
}

.checkOut-btn:hover{
  background-color:#495e7d;
  color: white;
  border-radius: 5px;
  border-color: #495e7d;
}

.checkOut-btn:disabled{
  color: grey;
  background-color: lightgray;
  border-radius: 5px;
  border-color: grey;
}