.logo{
    float: left;
    color: black;
    scale: 20%;
    padding:0px; 
}


/* Add a backgroumd colour to the nav */
.nav{
    overflow: hidden;
    position: sticky;
    background-color: #94ABC8;
    text-align: center;
}

/* add styles of the elements that is inside of the nav */
.nav a{
    display: inline-block;
    color: #F1F3F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 95%;
}

/* change colour of element when hovering over it */
.nav a:hover {
    background-color: #9fb4ce
;
}

/* attach separate color to the active element */
.nav a.active {
    background-color: #889CB6; 
    color: #F1F3F3;
}

/*sidenav menu*/
.sidenav {
    height: 100%;
    width:160px;
    position: fixed;
    left: 0;
    background-color: white; 
    text-align: center;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* change colour of element when hovering over it */
.sidenav a:hover {
    background-color: #9fb4ce
;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}


/*Product Category*/
.product-categories {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.item {
    width: 300px;
    border: 2px solid greenyellow;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}