.logo{
    float: left;
    color: black;
    scale: 20%;
    padding:0px; 
}

/* Add a backgroumd colour to the nav */
.nav{
    overflow: hidden;
    position: sticky;
    background-color: #94ABC8;
    text-align: center;
}

/* add styles of the elements that is inside of the nav */
.nav a{
    display: inline-block;
    color: #F1F3F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 95%;
}

/* change colour of element when hovering over it */
.nav a:hover {
    background-color: #9fb4ce
;
}

/* attach separate color to the active element */
.nav a.active {
    background-color: #889CB6; 
    color: #F1F3F3;
}

.catNav{
  overflow: hidden;
  background-color: aliceblue;
}

.catNav a{
  font-size: 17px;
  padding: 14px 16px;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.catNav .icon{
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-btn{
  font-size: 17px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
}

.dropdown-content{
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.catNav a:hover, .dropdown:hover .dropdown-btn {
  background-color:#889CB6;
  color: white;
}

.dropdown-content a:hover{
  background-color:#889CB6;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  /* Some media queries for responsiveness *
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
/* Main content */
.main {
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
  
/*Product Category*/
.product-categories {
    /* justify-content: center; */
    display:grid;
    background-color: beige;

    grid-template-columns: auto auto auto auto;
}
.item {
    border: 2px solid greenyellow;
    margin: 8px;
    padding: 10px;
    background-color: aliceblue;
}